<footer>
    <div id="sottofooter1">
       <ul>
        <li><a href="index.html">Home</a></li>
        <li><a id="loginfooter">Login/Registrazione</a></li>
        <li><a href="ristoranti.html">Ristoranti</a></li>
       </ul>
        
    </div>
    
    <div>
        <a href="https://www.paypal.com/it/webapps/mpp/account-sign-up?kid=p52276581155&gclid=EAIaIQobChMIiKTKypP87wIVi_93Ch1jsgz3EAAYASAAEgL9-fD_BwE&gclsrc=aw.ds"><img src="../assets/img/paypal.png"></a>
        <a href="https://www.mastercard.it/it-it.html"><img src="../assets/img/mastercard.png"></a>
   
        <a href="https://postepay.poste.it/"><img src="../assets/img/postepay.png"></a>
    </div>
     
         
    <!-- <div id="tornaSu">^</div> -->
    
  </footer>
  
  <div id="endfooter">
        <ul>
           <li><a href="https://it-it.facebook.com/">a</a></li>
           <li><a href="https://www.instagram.com/">b</a></li>
           <li><a href="https://www.youtube.com/">c</a></li>
       </ul>
    </div>