
<article>
    <div>
        <h3>
            Ciao <br> {{myUsr.nominativo}}
        </h3>
  
    </div>

    <div >
        <ul id="vocidashboard">
            <li><a (click)="vediProfilo()">Profilo</a></li>
            <li><a (click)="vediOrdini()">Ordini</a></li>
            <li><a (click)="esci()">Logout</a></li>
        </ul>
    </div>
</article>

<section *ngIf="isProfiloVisible">
<ul>
   
    <li><span>EMAIL: </span> {{myUsr.email}}</li>
    <li><span>USERNAME: </span> {{myUsr.username}}</li>
</ul>
</section>

<section *ngIf="!isProfiloVisible">
    {{myOrd}}
   <h5 *ngIf="myOrd">Non ci sono ordini</h5>
    </section>
    