<aside>

    <div style="background-image: url(./assets/img/iphone2.png)" id="scarica">
    <div id="appstore"><a href="https://www.apple.com/it/ios/app-store/"><img src="./assets/img/appstore.png"></a></div>
    <div id="playstore"><a href="https://play.google.com/store?hl=it&gl=US"><img src="./assets/img/playstore.png"></a></div>
     </div>
      <p>Scarica la nostra app<br> accedi a gustosissime offerte!</p>
     
     <div style="background-image: url(./assets/img/float.png);" id="divisor">
         
     </div>
     
      <section id="containslide">
      <p>Condividi i tuoi momenti speciali suoi nostri social e partecipa al concorso</p>
      <div id="slide">
   <img id="foto1" src="" />
   <img id="foto2" src="" />
    <img id="foto3" src="" />
   <img id="foto4" src="" />
    <img id="foto5" src="" />
    
      <ul class="icone">
             
              <li><a href="https://it-it.facebook.com/">a</a></li>
              <li><a href="https://www.instagram.com/">b</a></li>
              <li><a href="https://www.youtube.com/">c</a></li>
              
          </ul>
          
         
  </div>
  </section>
  </aside>
