<div id="cover"><img src="../assets/img/logo-nero.png"></div>
<article id="sushicontain" style="background-image: url(/assets/img/sushi.png)">
    <div>
     <h1>Hai fame ?</h1>
     <p>Il tuo cibo preferito a portata di touch</p>
     </div>
 
 
      <div id="containerinput">
           
    <section>
  <div><img src="/assets/img/tap.png"></div>
  <div><img src="/assets/img/food-delivery.png"></div>
  <div><img src="/assets/img/food.png"></div>
     
    </section>
            <label for="indirizzo">Indirizzo:</label>
            <div id="boxinputbutton">
                 <input id="indirizzo" type="search" placeholder="Torino, Via Roma 12, 10154">
            <button><a [routerLink]="['/ristoranti']"><img src="../assets/img/search.png"></a></button>
            </div>
           
        </div>
 </article>
 <app-aside></app-aside>
